
ToteBetting/ToteBetting.BL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ToteBetting/ToteBetting.BL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ToteBetting/ToteBetting.BL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ToteBetting/ToteBetting.BL/obj/Debug/ToteBetting.BL.csproj.CoreCompileInputs.cache
ToteBetting/ToteBetting.BL/obj/Debug/ToteBetting.BL.csprojAssemblyReference.cache
ToteBetting/ToteBetting.DL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ToteBetting/ToteBetting.DL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ToteBetting/ToteBetting.DL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ToteBetting/ToteBetting.DL/obj/Debug/ToteBetting.DL.csproj.CoreCompileInputs.cache
ToteBetting/ToteBetting.DL/obj/Debug/ToteBetting.DL.csprojAssemblyReference.cache
ToteBetting/ToteBetting.PL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ToteBetting/ToteBetting.PL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ToteBetting/ToteBetting.PL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ToteBetting/ToteBetting.PL/obj/Debug/ToteBetting.PL.csproj.CoreCompileInputs.cache
ToteBetting/ToteBetting.PL/obj/Debug/ToteBetting.PL.csprojAssemblyReference.cache
ToteBetting/ToteBetting.UnitTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ToteBetting/ToteBetting.UnitTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ToteBetting/ToteBetting.UnitTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ToteBetting/ToteBetting.UnitTest/obj/Debug/ToteBetting.UnitTest.csproj.CoreCompileInputs.cache
ToteBetting/ToteBetting.UnitTest/obj/Debug/ToteBetting.UnitTest.csprojAssemblyReference.cache
ToteBetting/binaries/bin/Debug/ToteBetting.BL.dll
ToteBetting/binaries/bin/Debug/ToteBetting.BL.pdb
ToteBetting/binaries/bin/Debug/ToteBetting.DL.dll
ToteBetting/binaries/bin/Debug/ToteBetting.DL.pdb
ToteBetting/ToteBetting.BL/obj/Debug/ToteBetting.BL.csproj.CopyComplete
ToteBetting/ToteBetting.BL/obj/Debug/ToteBetting.BL.csproj.FileListAbsolute.txt
ToteBetting/ToteBetting.BL/obj/Debug/ToteBetting.BL.dll
ToteBetting/ToteBetting.BL/obj/Debug/ToteBetting.BL.pdb
ToteBetting/ToteBetting.DL/bin/Debug/ToteBetting.DL.dll
ToteBetting/ToteBetting.DL/bin/Debug/ToteBetting.DL.pdb
ToteBetting/ToteBetting.DL/obj/Debug/ToteBetting.DL.csproj.FileListAbsolute.txt
ToteBetting/ToteBetting.DL/obj/Debug/ToteBetting.DL.dll
ToteBetting/ToteBetting.DL/obj/Debug/ToteBetting.DL.pdb
ToteBetting/ToteBetting.PL/obj/Debug/build.force
ToteBetting/ToteBetting.PL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ToteBetting/ToteBetting.PL/obj/Debug/ToteBetting.PL.csproj.FileListAbsolute.txt
ToteBetting/binaries/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_32.trx
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_32/Out/ToteBetting.BL.dll
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_32/Out/ToteBetting.BL.pdb
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_32/Out/ToteBetting.DL.dll
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_32/Out/ToteBetting.DL.pdb
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_32/Out/totebetting.unittest.dll
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_32/Out/totebetting.unittest.pdb
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_55.trx
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_55/Out/ToteBetting.BL.dll
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_55/Out/ToteBetting.BL.pdb
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_55/Out/ToteBetting.DL.dll
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_55/Out/ToteBetting.DL.pdb
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_55/Out/totebetting.unittest.dll
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_49_55/Out/totebetting.unittest.pdb
ToteBetting/binaries/bin/Debug/ToteBetting.PL.exe
ToteBetting/binaries/bin/Debug/ToteBetting.PL.exe.config
ToteBetting/binaries/bin/Debug/ToteBetting.PL.pdb
ToteBetting/binaries/bin/Debug/ToteBetting.UnitTest.dll
ToteBetting/binaries/bin/Debug/ToteBetting.UnitTest.pdb
ToteBetting/ToteBetting.PL/obj/Debug/ToteBetting.PL.csproj.CopyComplete
ToteBetting/ToteBetting.PL/obj/Debug/ToteBetting.PL.exe
ToteBetting/ToteBetting.PL/obj/Debug/ToteBetting.PL.pdb
ToteBetting/ToteBetting.UnitTest/obj/Debug/ToteBetting.UnitTest.csproj.CopyComplete
ToteBetting/ToteBetting.UnitTest/obj/Debug/ToteBetting.UnitTest.csproj.FileListAbsolute.txt
ToteBetting/ToteBetting.UnitTest/obj/Debug/ToteBetting.UnitTest.dll
ToteBetting/ToteBetting.UnitTest/obj/Debug/ToteBetting.UnitTest.pdb
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_53_49.trx
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_53_49/Out/ToteBetting.BL.dll
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_53_49/Out/ToteBetting.BL.pdb
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_53_49/Out/ToteBetting.DL.dll
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_53_49/Out/ToteBetting.DL.pdb
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_53_49/Out/totebetting.unittest.dll
ToteBetting/binaries/bin/Debug/TestResults/z0024n7s_MD1YQEAC 2019-12-29 09_53_49/Out/totebetting.unittest.pdb
ToteBetting/binaries/bin/Debug/ToteBetting.BL.dll.CodeAnalysisLog.xml
ToteBetting/binaries/bin/Debug/ToteBetting.BL.dll.lastcodeanalysissucceeded
ToteBetting/binaries/bin/Debug/ToteBetting.PL.exe.CodeAnalysisLog.xml
ToteBetting/binaries/bin/Debug/ToteBetting.PL.exe.lastcodeanalysissucceeded
ToteBetting/binaries/bin/Debug/ToteBetting.UnitTest.dll.CodeAnalysisLog.xml
ToteBetting/binaries/bin/Debug/ToteBetting.UnitTest.dll.lastcodeanalysissucceeded
ToteBetting/TestResults/f4fbb4c5-3601-4e24-a54b-16e3728a8278/z0024n7s_MD1YQEAC 2019-12-29 09_52_27.coverage
ToteBetting/ToteBetting.DL/bin/Debug/ToteBetting.DL.dll.CodeAnalysisLog.xml
ToteBetting/ToteBetting.DL/bin/Debug/ToteBetting.DL.dll.lastcodeanalysissucceeded
